body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    display: grid;
    place-content: center;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

#container{
    position: relative;
    background-color: hsl(0, 0%, 100%);
    height: 470px;
    width: 300px;
    border: none;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 10px 20px 20px -2px hsla(219, 15%, 55%, 0.247);
}

#QR{
    height: 270px;
    border: none;
    border-radius: 10px;
    margin: 15px 0px 15px 15px;
}

#card-text1{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    margin: 5px 25px 15px; 
}

#card-text2{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    margin: 0px 20px 5px; 
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

footer{
    margin: 50px;
}
